# IntelliJ project files
.idea
*.iml
out
gen

# Build results
[Dd]ebug/
tests/obj/Debug/netcoreapp3.1
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Local config file
.secrets/

# Azurite emulator
__azurite*
__blobstorage__/
__queuestorage__/

# Test coverage reports
Reports/
output/

/CloudScheduling.sln.DotSettings.user

# Visual Studio
.vs

#
app-insights-dump.txt

# local run logs
*.log

# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos
*.user
/.github/Properties/launchSettings.json
/scripts/Properties/launchSettings.json
/templates/Properties/launchSettings.json
